<% layout("layouts/boilerplate")%>
<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <p>Edit the details below!</p>
    <form action="/campgrounds/<%= campground._id%>?_method=put" method="post">
      <div class="mb-3">
        <label class="form-label" for="title">Title:</label>
        <input
          value="<%=campground.title%>"
          class="form-control"
          type="text"
          name="campground[title]"
          id="title"
        />
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description:</label>
        <textarea
          class="form-control"
          name="campground[description]"
          id="description"
          cols="30"
          rows="10"
        >
<%=campground.description%></textarea
        >
      </div>

      <div class="mb-3">
        <label class="form-label" for="location">Location:</label>
        <input
          value="<%=campground.location%>"
          class="form-control"
          type="text"
          name="campground[location]"
          id="location"
        />
      </div>

      <div class="input-group mb-3"></div>
      <div class="mb-3">
        <label class="form-label" for="price">Price:</label>
        <input
          value="<%=campground.price%>"
          class="form-control"
          type="number"
          name="campground[price]"
          id="price"
          placeholder="$0.00"
        />
      </div>

      <div class="mb-3">
        <label class="form-label" for="image">Image URL:</label>
        <input
          value="<%=campground.image%>"
          class="form-control"
          type="text"
          value="https://random.imagecdn.app/600/600"
          name="campground[image]"
          id="image"
        />
      </div>

      <div class="mb-3">
        <button class="btn bg-info mb-5">Save</button>
      </div>
    </form>
    <form
      method="post"
      action="/campgrounds/<%=campground._id%>?_method=delete"
    >
      <button
        class="bg-danger btn"
        href="/campgrounds/<%=campground._id%>/delete"
      >
        Delete Campground
      </button>
    </form>
    <a href="/campgrounds/<%=campground._id%>">Cancel</a>
  </div>
</div>
